<div #root class="carousel" data-gap="80">
  <figure>
  <img src="https://source.unsplash.com/mCg0ZgD7BgU/800x533" alt="">
      <img src="https://source.unsplash.com/EbuaKnSm8Zw/800x533" alt="">
      <img src="https://source.unsplash.com/kG38b7CFzTY/800x533" alt="">
      <img src="https://source.unsplash.com/nvzvOPQW0gc/800x533" alt="">
      <img src="https://source.unsplash.com/VkwRmha1_tI/800x533" alt="">
      <img src="https://source.unsplash.com/1FWICvPQdkY/800x533" alt="">
      <img src="https://source.unsplash.com/bjhrzvzZeq4/800x533" alt="">
      <img src="https://source.unsplash.com/7mUXaBBrhoA/800x533" alt="">
  </figure>
  <nav>
      <button class="nav prev">Prev</button>
      <button class="nav next">Next</button>
  </nav>
</div>
