// .mk-slot-container {
//   height: 100px;
//   background-color: white;
//   border-style: inset;
//   border-color: antiquewhite;
//   border-width: 1px;
//   width: 80px;
//   position: relative;
//   perspective: 3000px;
//   overflow: hidden;
//   text-align: center;
// }

// .mk-spinner {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   transform-style: preserve-3d;
//   -webkit-transform-style: preserve-3d;
//   transition: transform 0.5s ease-in;
//   -webkit-transition: -webkit-transform 0.5s ease-in;
//   backface-visibility: hidden;
//   -webkit-backface-visibility: hidden;
// }

.mk-slot-item {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  // left: 10px;
  // top: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from {
      -webkit-transform: rotateX(0deg);
  }

  to {
      -webkit-animation: rotateX(-360deg);
  }
}

@keyframes spinner {
  from {
      -moz-transform: rotateX(0deg);
      -ms-transform: rotateX(0deg);
      transform: rotateX(0deg);
  }

  to {
      -moz-transform: rotateX(-360deg);
      -ms-transform: rotateX(-360deg);
      transform: rotateX(-360deg);
  }
}

.mk-spinning {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  -webkit-animation-play-state: running;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-play-state: running;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.mk-label {
  white-space: wrap;
  font-size: 11px;
  line-height: 11px;
  -moz-only-whitespace: wrap;
}

/* Below is from 
https://www.sitepoint.com/building-3d-rotating-carousel-css-javascript/ */

$item-width: 22%; // Now we can use percentages
$item-separation: 0px; // This now is set with Js
$viewer-distance: 3000px;

.carousel {
  padding: 20px;

  perspective: $viewer-distance;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
  > * {
    flex: 0 0 auto;
  }

  figure {
    margin: 0;
    width: $item-width;

    transform-style: preserve-3d;
    transition: transform 0.5s;

    img {
      width: 100%;
      box-sizing: border-box;
      padding: 0 $item-separation / 2;

      &:not(:first-of-type) {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}